.titreproduit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.produitTable {
    color: #272679;
    text-align: center;
    font-family: "Hanken Grotesk-Semi Bold", sans-serif;
    font-size: 19px;
    line-height: 31.34px;
    letter-spacing: 0.28px;
    font-weight: 600;
}

.DateRangeHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.produitdansletable {
    color: #8d8dae;
    text-align: center;
    font-family: "Hanken Grotesk-Semi Bold", sans-serif;
    font-size: 15px;
    line-height: 31.34px;
    letter-spacing: 0.28px;
    font-weight: 600;
}